/* Global 
/* Hides standard hyperlink CSS */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
a {
	font-family: 'Roboto', sans-serif;
}


/* Nav Bar CSS */

/* JavaScript Back to Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: #ccc; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all .3s;
    opacity: .75;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    width: 100%;
    margin-left: 0;
    margin-right:0;

}

#contact-us {
    margin: 0 auto;
    margin-top: 20px;
}

.contact-us-submit {
    background-color: lightblue;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 40%;
    transition-duration: 0.4s;
}
.contact-us-submit:hover {
    background-color: #85C1E9;
}

.contact-title {
    
}


/* Social Media Buttons */

#social-media-nav .fa {
    padding: 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin: 5px 10px 0 10px;

}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin: 5px 10px 0 10px;
}

/* YouTube */
.fa-youtube {
    background: red;
    color: white;
    margin: 5px 10px 0 10px;
}

#social-media-nav {
    float: right;
    padding: 5px 20px 0 20px;
}

*/