/* Hides standard hyperlink CSS */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
a {
	font-family: 'Roboto', sans-serif;
}


/* Nav Bar CSS */

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
    background-color: #85C1E9;
    color: white;
}

/* JavaScript Back to Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #007bff; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all .3s;
    opacity: .75;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    width: 100%;
    margin-left: 0;
    margin-right:0;

}


/* Contact Us Page */
#contact-us {
    margin: 0 auto;
    margin-top: 20px;
}

.contact-us-submit {
    background-color: lightblue;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 40%;
    transition-duration: 0.4s;
}
.contact-us-submit:hover {
    background-color: #85C1E9;
}


/* Pagination Initial Settings (When Page Loads; Then JS Reveals/Hides Different Tourneys) */

#tournamentsPagination1 {
    display: flex;
}

#tournamentsPagination2, #tournamentsPagination3, #tournamentsPagination4, #tournamentsPagination5 {
    display: none;
}

