<div class="table-responsive"> <br>
	<table class="table">
	<h1>Results</h1>
	  <th>Name</th>
	  <th>Round 1</th>
	  <th>Round 2</th>
	  <th>Round 3</th>
	  <th>Ranking</th>
	</tr>


	<tr>
	  <th class="event" colspan="5">Policy Debate</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Lincoln-Douglas Debate</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Public Forum Debate</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Parliamentary Debate</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>

	<tr>
	  <th class="event" colspan="5">Extemporaneous Debate</th>
	</tr>
	</table>
</div>