<div class="table-responsive"> <br>
	<table class="table">
	<h1>Results</h1>
	  <th>Name</th>
	  <th>Round 1</th>
	  <th>Round 2</th>
	  <th>Round 3</th>
	  <th>Ranking</th>
	</tr>


	<tr>
	  <th class="event" colspan="5">Oratorical Interpretation</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Original Oratory</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Expository</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <th class="event" colspan="5">Original Prose & Poetry</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>

	<tr>
	  <th class="event" colspan="5">Humorous Interpretation</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>

	<tr>
	  <th class="event" colspan="5">Impromptu</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>

	<tr>
	  <th class="event" colspan="5">Duo Interpretation</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>

	<tr>
	  <th class="event" colspan="5">Original Advocacy</th>
	</tr>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>



	</table>
</div>